.menu{
    display: flex;
  
  list-style: none;
    font-size: 20px;
    color: rgb(178, 174, 170);
    gap: 30px;
    position: relative;
    
  }
  .menu li {
    position: relative;
     
  }
  
  .menu li::after,
  .menu li::before {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    background: rgb(109, 107, 107);
    width: 0;
    height: 1px;
    transition: width 0.3s; 
  }
  .menu li:hover::after,
  .menu li:hover::before {
    width: 150px; 
  }
  